* {
  font-family: arial;
  background-color: #fcfcfc

}

/* Animations */
@keyframes shake {
  {
    transform: translate3d(0, -7px, 0);
  }

  20%, 80% {
    transform: translate3d(0, 7px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -15px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 15px, 0);
  }
}

.shake {
  animation: shake 1.0s cubic-bezier(1,1,.19,.97) both;
}


/* scorboard */
#scoreboard {
  margin: 10px auto;
  border: 2px solid red;
  display: block;
  width: 255px;
  text-align: center;
}

#player-score, #comp-score {
  color: red;
}

/* resize all images*/
.resize {
  display: inline-block;
  height: 125px;
  width: 125px;
}

/* player selections*/
#options{
  display: inline-block;
  width: 100%;
  margin: 10px auto;
  text-align: center;

}

.hover:hover {
  background-color: red;
}

.container {
  display: inline-block;
  padding: 10px 10px;
  margin: 5px 5px;
}

/* game results */
#selections {
  display: inline-block;
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

#results {
  display: inline-block;
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

#results p {
  font-weight: bolder;
}

button {
  width: 100px;
  height: 50px;
  display: block;
  text-align: center;
  margin:10px auto;
}
