body {
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
  text-align: center;
  margin: 20px auto;
  overflow: scroll;
  background-color: #fefefe
}


.container {
  display: relative;
  padding: 10px;
  margin: 20px;
  text-align: center;
  width: auto;
}

.hidden{
  display: none;
}

.era-div{
  display: inline-block;
  padding:20px;
  margin:20px;
}
