* {
   font-family: 'Montserrat', sans-serif;
   font-weight: 300;
   color: #f4f7fc ;
}

html {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-column {

}

.flex-row{

}

body{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: #f4f4f4;
  width:85%;
}

.bold {
  font-weight: 700;
}

.line-through {
  text-decoration: line-through;
}

.white-font {
  color: white;
}

.dark-green-font {
  color: #108e09;
}

a {
  text-decoration: none;
}

a:hover{
  color: #6DB806;
  transition: 0.5s;
}

/* #########################
########### HEADER #########
############################ */

header {
  font-size: 14px;
  display: flex;
  height: 5em;
  align-items: center;
  padding: 0 8.2em;
  margin: 0 auto;
  border-bottom: #e8e5e5 solid 1px;
  /* padding-top: 1em; */
}

.header-box{
  display: flex;
  flex-direction: row;
  height: 4em;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

header #social-media {
  display: flex;
  align-items: center;
}


/* ##########################
########## SPLASH #########
############################# */

.splash {
  height: 43em;
  background: url("../img/splash-hand-trans-2.png") no-repeat, radial-gradient(circle at right, #EEE, #979da8 );
  background-position: 110% 1000%;

}

.splash-container-and-hand {
  display: flex;
  min-height: 75%;
  align-items: center;

}
.splash-container {
  height: 12em;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10em;
  /* top: 10em;
  left: 5em; */
}

.splash-container h2{
  font-size: 1.9em;
  font-weight: 700;
  padding: 0;
  margin: 0;
  width: 90%;
}

.splash-container h1{
  font-size: 2.5em;
  font-weight: 300;
  padding: 0;
  margin: 0;
  width: 90%;
}

.splash-container h3{
  font-size: 1.2em;
  font-weight: 300;
  padding: 0;
  margin: 0.5em 0;
  width: 90%;
}

#button-package{
  height: 4em;
  width: 30em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5em 0.25em;
}

#splash-green-button {
  display: flex;
  flex-direction: row;
  height: 4em;
  width: 19em;
  top:5em;
  background-color: #6DB806;
  border-radius: 0.5em;
  align-items: center;
  justify-content: space-between;
}

#splash-green-button:hover {
  background: #000;
  transition: 0.5s;
}

#splash-green-button-left {
  font-weight: 700;
  align-items: center;
  width: 6em;
  border-right: solid 1px;
  height: 2.1em;
  font-size: 0.8em;
  padding: 0 1em;
  text-align: center;
}

#splash-green-button-left p {
  margin: 0;
  padding: 0;
}

#splash-green-button-right {
  width: 12em;
  font-size: 0.8em;

}

#splash-package {
  color: white;
  font-size: 0.7em;
  padding-right: 5em;
  font-weight: 700;

}

#splash-hand {
  height: 40em;
  width: 40em;
}


/* ##########################
########## SHOWCASE #########
############################# */

.showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  height: 22em;
  width: auto;
  padding: 3em 5em 0 5em;
  justify-content: center;
  border: #e8e5e5 solid 1px;
}

.item-box {
  height: 15em;
  width: 20em;
  margin: 2em;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
}

.item-box-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2em;
}

.item-box-head-text {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

.item-box-head-text p:first-child{
  color: #333333;
  font-weight: 700;
  font-size: 1.2em;
  margin:0;
  padding:0;
}

.item-box-head-text p{
  color: #999999;
  font-weight: 700;
  font-size: 1em;
  margin:0;
  padding:0;
}

.item-box-head-text span{
  color: #999999;
  font-weight: 400;
  font-size: 1em;
  margin:0;
  padding:0;
}

.item-box-head-button {
  height: 2em;
  width: 4.5em;
  background-color: #6DB806;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-box-head-button:hover {
  background-color: #000000 ;
  transition: 0.5s;
}

.blue-button {
  background-color: #498CC0;
}

.blue-button:hover {
  background: #000000;
  transition: 0.5s;
}

.item-box-head-button p {
  font-size: 0.8em;
  font-weight: 700;
  margin: 0 auto;
}




/* #############################
########## DRIBBBLE AD #########
################################*/

.dribble-ad {
  display: flex;
  flex-direction: column;
  height: 22em;
  width: auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-left: #e8e5e5 solid 1px;
  border-right: #e8e5e5 solid 1px;
}

.dribble-ad h1{
  color: #333333;
  font-size: 2em;
  margin: 0;
  padding-bottom: 0.2em;
  width: 90%;
  text-align: center;
}

.dribble-ad h3{
  color: #999999;
  margin: 0;
  padding-bottom: 3em;
  width: 90%;
  text-align: center;
}

.dribble-button {
  width: 18em;
  text-align: center;
  border: solid #ccc 2px;
  border-radius: 5px;
}

.dribble-button:hover {
  background-color: #000000;
  transition: 0.5s;
}

.dribble-text {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 1em 1.3em;
}

.dribble-text i {
  font-size: 1.5em;
  color: #ff4dff;
  font-weight: 700;
  margin-top:-0.2em;
  padding:0;
}

.dribble-text p{
  color: #333333;
  font-weight: 700;
  font-size: 0.8em;
  margin:0;
  padding-top:0.2em;
}
/* #############################
############ GALLERY ###########
################################ */

.gallery {
  display: flex;
  flex-direction: row;
  height: 26em;
  width: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  border: #e8e5e5 solid 1px;
}

.gallery-box {
  background-color: yellow;
  height: 13em;
  flex-wrap: wrap;
  width: 15em;
}



/* #############################
######## CUSTOMER EMAIL ########
################################ */


.customer-email {
  display: flex;
  flex-direction: column;
  background-color:  #2E3440;
  height: 30em;
  width: auto;
  justify-content: center;
  align-items: center;
  border-bottom: solid #6E7075 2px;
}
.customer-email-text {
  display:  flex;
  flex-direction: column;
  text-align: center;
}

.customer-email-text h1 {
  font-size: 2.4em;
  padding-bottom: 0.2em;
  margin: 0;
  width: 100%
}
.customer-email-text h3 {
  margin-top: -0.2em;
  color: #6E7075;
  width: 100%
}

.customer-email form{
  margin-top: 2em;
  display: flex;
  width: 40%;
  justify-content: space-around;
}

[type="email"] {
  background-color:  #2E3440;
  height: 3.3em;
  width: 20em;
  border-radius: 5px;
  border: solid #6E7075 2px;
  text-indent: 2em;
  font-size: 0.9em;
}

[type="submit"] {
  background-color: #6DB806;
  border-radius: 0.5em;
  height: 3.4em;
  width: 12em;
  border: none;
  font-weight: 700;
}

[type="submit"]:hover  {
  background: #000;
  transition: 0.5s;
}



/* #############################
############ footer ###########
################################ */

footer {
  display: flex;
  flex-direction: column;
  background-color:  #2E3440;
  height: 35em;
  width: auto;
  justify-content: center;
  align-items: center;
}

.footer-top {
  display: flex;
  border: white 2px;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 26em;
  align-items: center;
}

.footer-top-left {
  width: 35%;
  padding-right: 1em;
}

.footer-top-left p{
  color: #6E7075;
  font-size: 0.8em;
  padding-top: 1em;
  line-height: 2em;
}

.footer-top-right {
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: center;
  align-content: center;
  padding-left: 1em;
}

.footer-pic {
  display: flex;
  height: 8em;
  flex-wrap: wrap;
  width: 8em;
  justify-content: center;
  padding: 1em;
}

.footer-img {
  border-width: 1px;
  border-radius: 100%;
}

.footer-bot {
  color: #6E7075;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  width: 70%;
  border-top: solid #6E7075 2px;
}

.footer-links {
  color: #6E7075;
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8em;
}

.footer-links a {
  padding: 0.5em;
  text-align: center;
}


/* #############################
######## MEDIA QUERIES #########
################################ */

@media (max-width: 1562px) {
  .showcase{
    height: 44em;
  }
}

@media (max-width: 1428px) {
  .gallery {
    height: 39em;
  }
}

@media (max-width: 1131px) {
  .splash {
    background: radial-gradient(circle at right, #EEE, #979da8 );
  }

  .gallery {
    height: 52em;
  }

  .customer-email form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  [type=submit] {
    margin-top: 2em;

  }
}

@media (max-width: 1095px)  {
  .showcase{
    height: 66em;
  }
}

@media (max-width: 865px) {

  #splash-green-button {
    text-align: center;
    padding-left: 2em;
  }

  #splash-green-button-left {
    display: none;
  }

  #splash-package {
    display: none;
  }

  header {
    padding: 0 2em;
    display: flex;
  }

  .splash-container {
    padding-left: 2em;
  }
  #shares {
    display: none;
  }

  #logo-text {
    display: none;
  }

  .gallery {
    height: 65em;
  }

  .customer-email {
    height: 35em;
  }

  .customer-email-text {
    width: 90%
  }

  [type="email"] {
    width: 16em;
  }

  footer {
    height: 80em;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-top {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .footer-top-left {
    width: 85%;
    margin-top: 10em;
    margin-bottom: 15em;
    padding: 0;
  }

  .footer-top-right {
    flex-wrap: wrap;
    width: 80%;
  }

  .footer-bot {
    margin-top: 30em;
  }

  .footer-copyright {
    display: none;
  }

  .footer-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}


@media (max-width: 568px) {
  #splash-green-button{
    width: 12em;
  }

  .gallery {
    height: 130em;
  }


}

@media (max-width: 375px) {
  header #logo i{
    font-size: 1em;
  }

  header #social-media p {
    display: none;
  }

  .footer-top-left {
    margin-bottom: 15em;
  }

  #dribble-hide {
    display: none;
  }

  .dribble-button {
    width: 90%;
  }


}
